<footer class="footer">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <span class="nav-link">&copy; Resela+ 2017</span>
            </li>
            <li class="nav-item">
                <span class="nav-link">v3.0</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('static.contact') }}">CONTACT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('static.tos') }}">TERMS OF SERVICE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://docs.lviv.resela.eu" target="_blank">DOCUMENTATION</a>
            </li>
        </ul>
    </div>
</footer>
