<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container align-content">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="#">{{ current_user.full_name }}</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('account.logout') }}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('account.settings') }}">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://gitlab.resela.eu/resela/resela"
                           target="_blank">Feedback</a>
                    </li>
                </ul>
            </div>
        {% else %}
            <a class="navbar-brand" href="#">Resela</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('account.login') }}">Login</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>