{% extends "layout.html" %}

{% block content %}

    <div class="row" xmlns:mailto="http://www.w3.org/1999/xhtml">
            <h1>Contact</h1>
            <p>You can use the information below to contact those responsible for the service.</p>
            <hr>

            <h2>Sweden</h2>
            <h5>Karlskrona - Blekinge Institute of Technology</h5>
            <p>
                <strong>Contact person</strong>: Anders Carlsson<br>
                <strong>E-mail:</strong> <a href="mailto:anders.carlsson@bth.se">anders.carlsson@bth.se</a>
            </p>
        <hr>
        </div>
        <div class="row">
            <h2>Latvia</h2>
            <h5>University of Latvia - Riga</h5>
            <p><strong>Contact person</strong>: Leo Truksans<br>
            <strong>E-mail:</strong> <a href="mailto:leo.truksans@lu.lv">leo.truksans@lu.lv</a>
        <hr>
        </div>
        <div class="row">
            <h2>Poland</h2>
            <h5>Wroclaw University of Technology - Wroclaw</h5>
            <p>
                <strong>Contact person:</strong> Dariusz Caban<br>
                <strong>E-mail:</strong> <a href="mailto:dariusz.caban@pwr.wroc.pl">dariusz.caban@pwr.wroc.pl</a>
            </p>
        <hr>
        </div>
        <div class="row">
            <h2>Russia</h2>
            <h5>Saint Petersburg State University of Telecommunications - St.Petersburg</h5>
            <p>
                <strong>Contact person:</strong> Andrey Krasov<br>
                <strong>E-mail:</strong> <a href="mailto:krasov@pisem.net">krasov@pisem.net</a>
            </p>
            <h5>P.G. Demidov Yaroslavl State University - Yaroslavl</h5>
            <p>
                <strong>Contact person:</strong> Marina Borisova<br>
                <strong>E-mail:</strong> <a href="mailto:marinafon@yandex.ru">marinafon@yandex.ru</a>
            </p>
            <h5>Kaliningrad State Technical University - Kalinigrad</h5>
            <p>
                <strong>Contact person:</strong> Victor Petrikin<br>
                <strong>E-mail:</strong> <a href="mailto:petrikin@klgtu.ru">petrikin@klgtu.ru</a>
            </p>
        <hr>
        </div>
        <div class="row">
            <h2>Ukraine</h2>
            <h5>State University of Information and Communication Technologies - Kiev</h5>
            <p>
                <strong>Contact person:</strong> Nataliya La-Chuiko<br>
                <strong>E-mail:</strong><a href="mailto:lukova@ukr.net">lukova@ukr.net</a>
            </p>
            <h5>Kharkiv National University of Radio Electronics - Kharkiv</h5>
            <p>
                <strong>Contact person:</strong> Olena Tkac<br>
                <strong>E-mail:</strong><a href="mailto:olena.tkachova@nure.ua">olena.tkachova@nure.ua</a>
            </p>
            <h5>Lviv Polytechnic National University - Lviv</h5>
            <p>
                <strong>Contact person:</strong> Yuriy Lakh<br>
                <strong>E-mail:</strong><a href="mailto:julakh@polynet.lviv.ua">julakh@polynet.lviv.ua</a>
            </p>
        <hr>
        </div>

{% endblock %}