{% extends "layout.html" %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/dynamic_form.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: url({{ url_for('static', filename='images/background.jpg') }}) center center no-repeat fixed;
            background-size: cover;
        }

        .row {
            width: 100%;
            display: flex !important;
        }

        form {
            background: #fff;
            padding: 2em;
            box-shadow: 2px 2px 15px -5px;
        }

        form h1 {
            margin-bottom: 1em;
        }

        .logo {
            margin-top: -10em;
            margin-bottom: 5em;
        }
    </style>
{% endblock %}

{% block javascripts %}

    <script src='https://www.google.com/recaptcha/api.js'></script>

{% endblock %}

{% block body %}

    <div class="container vertical-center">
        <div class="row justify-content-center">
            <img src="{{ url_for('static', filename='images/resela_logo_transp.png') }}"
                 class="hidden-md-down logo"/>
            <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <div class="panel-body">
                                <form class="form rounded text-center"
                                      action="{{ url_for('account.new_password') }}"
                                      method="POST">
                                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                                    <h2 class="text-center">Forgot Password?</h2>
                                    <p>You can reset your password here.</p>
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                </span>
                                            <input class="form-control" type="email" name="email"
                                                   placeholder="example@gmail.com">
                                        </div>
                                    </div>
                                    <div class="g-recaptcha" style="transform: scale(0.93); transform-origin: 0 0;" data-sitekey="6Ldarx0UAAAAAEZlnLZAmqnUQ8dgBGh5yd0iJGpc"></div>
                                    <hr>
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">
                                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        Send password
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}